.DS_Store

htmldocs/
nimble.develop
nimble.paths

/etch
/lib
/bin
__etch__/
*.etcx
*.replay
*.etca
*.vsix
etch.out
/examples/*
!/examples/capi
!/examples/clib
!/examples/data
!/examples/lib
!/examples/*.etch
!/examples/*.pass
!/examples/*.fail
